#about{
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    // 320, 360, 
    // this is how it should look 
    @media(min-width: 300px){
        font-size: 25px;
        width: 78%;
    }
    @media(min-width: 340px){
        font-size: 28px;
        width: 78%;
    }
    @media(min-width: 380px){
        font-size: 38px;
        width: 88%;
    }
    @media(min-width: 400px){
        font-size: 36px;
        width: 86%;
    }
    @media(min-width: 767px){
        font-size: 50px;
        width: 62%;
    }
    @media(min-width: 900px){
        font-size: 40px;
        width: 62%;
    }
    line-height: 1.7;
    margin: 0 auto;
}

.tooltip-text{
    border-bottom: 2px solid white;
}

.tooltip-img{
    filter: contrast(95%) brightness(150%) ;
    @media(min-width:500px){
        width: 60%;
        height: auto;
    }
    @media(min-width:700px){
        width: 40%;
        height: auto;
    }
    @media(min-width:1000px){
        width: 25%;
        height: auto;
    }
}