#about{
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    @media(min-width: 400px){
        font-size: 36px;
        width: 93%;
    }
    @media(min-width: 767px){
        font-size: 50px;
        width: 62%;
    }
    line-height: 1.7;
    margin: 0 auto;
}

.tooltip-text{
    border-bottom: 2px solid white;
}

.tooltip-img{
    filter: contrast(95%) brightness(150%) ;
    @media(min-width:500px){
        width: 60%;
        height: auto;
    }
    @media(min-width:700px){
        width: 40%;
        height: auto;
    }
    @media(min-width:1000px){
        width: 25%;
        height: auto;
    }
}